/* Home.module.css */

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.chartContainer {
  width: 100%;
  margin: 0 auto;
}
